/* Created By */
.small{
    position: static;
    font-size: 8px;
    color: darkgray;
    font-weight: lighter;
    text-align: right; 
}

.small a{
    color: gray;
    font-weight: lighter;
}

/* Accordion */
.social-accordion {
    height:auto !important;
}

.social-accordion .ui-accordion-content {
    padding: 0 !important;
}

.social-accordion h3 a{
    font-size: 14px;
    font-style: normal;
    color: #555;
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.social-accordion .ui-accordion-header a { 
    position: absolute;
    left: 2.25em;
    top: .75em;
    vertical-align: middle;
}

.social-accordion h3.ui-accordion-header {
    margin-bottom: 0px;
}

.social-accordion h3{
    position: relative;
    height: 2.5em;
}

.social-accordion h3 a:hover{
    text-decoration: none;
    color: #555;
}

.social-accordion span{
    position: absolute;
    left: .5em;
    top: .75em;
    margin-top: 0px;
    height: 16px;
    width: 16px;
}

/* Accordion Sections */
.twitter .ui-icon {
    background-image: url(../images/twitter.png) !important;
    background-position: 0;
    background-size: 16px 16px;
}

.social-accordion .ui-state-hover.twitter,
.social-accordion .ui-state-active.twitter{
    background: #69c0e6 !important;
}

.facebook .ui-icon {
    background-image: url(../images/facebook.png) !important;
    background-position: 0;
    background-size: 16px 16px;
}

.social-accordion .ui-state-hover.facebook,
.social-accordion .ui-state-active.facebook{
    background: #005789 !important;
}

.googleplus .ui-icon {
    background-image: url(../images/googleplus.png) !important;
    background-position: 0;
    background-size: 16px 16px;
}

.social-accordion .ui-state-hover.googleplus,
.social-accordion .ui-state-active.googleplus{
    background: #e04727 !important;
}

.linkedin .ui-icon {
    background-image: url(../images/linkedin.png) !important;
    background-position: 0;
    background-size: 16px 16px;
}

.social-accordion .ui-state-hover.linkedin,
.social-accordion .ui-state-active.linkedin{
    background: #1683b1 !important;
}

.youtube .ui-icon {
    background-image: url(../images/youtube.png) !important;
    background-position: 0;
    background-size: 16px 16px;
}

.social-accordion .ui-state-hover.youtube,
.social-accordion .ui-state-active.youtube{
    background: #fe3031 !important;
}

.pinterest .ui-icon {
    background-image: url(../images/pinterest.png) !important;
    background-position: 0;
    background-size: 16px 16px;
}

.social-accordion .ui-state-hover.pinterest,
.social-accordion .ui-state-active.pinterst{
    background: #db3037 !important;
}

.flickr .ui-icon {
    background-image: url(../images/flickr.png) !important;
    background-position: 0;
    background-size: 16px 16px;
}

.social-accordion .ui-state-hover.flickr,
.social-accordion .ui-state-active.flickr{
    background: #fb4aa6 !important;
}