/* Created By */
.small{
    position: static;
    font-size: 8px;
    color: darkgray;
    font-weight: lighter;
    text-align: right; 
}

.small a{
    color: gray;
    font-weight: lighter;
}

/* Accordion */
.social-accordion {
    height:auto !important;
}

.social-accordion .ui-accordion-content {
    padding: 0;
}

.social-accordion h3 a{
    font-size: 14px;
    font-style: normal;
    color: #555;
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.social-accordion h3 a:hover{
    text-decoration: none;
    color: #555;
}

/* Accordion Sections */
.twitter .ui-icon {
    background-image: url(../images/twitter.png);
    background-position: 0;
    background-size: 16px 16px;
}

.facebook .ui-icon {
    background-image: url(../images/facebook.png);
    background-position: 0;
    background-size: 16px 16px;
}

.googleplus .ui-icon {
    background-image: url(../images/googleplus.png);
    background-position: 0;
    background-size: 16px 16px;
}

.linkedin .ui-icon {
    background-image: url(../images/linkedin.png);
    background-position: 0;
    background-size: 16px 16px;
}

.youtube .ui-icon {
    background-image: url(../images/youtube.png);
    background-position: 0;
    background-size: 16px 16px;
}

