/*  Copyright 2014 StressFree Sites  (info@stressfreesites.co.uk : alex@stressfreesites.co.uk)

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License, version 3, as 
    published by the Free Software Foundation.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*************** 
 *
 *   Preloader 
 *
 ***************/
.social-media-badge .preloader {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    border: solid 3px;
    border-color: #BBB #000;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}

@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}

@keyframes spin { 
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}

.social-media-badge {
    position: relative;
    min-height: 100px;
}

.social-media-badge .social-accordion {
    display: none;
}

/*************** 
 *
 *   Accordion Header 
 *
 ***************/
.social-media-badge .social-accordion {
    height: auto !important;
}

.social-media-badge .social-accordion .ui-accordion-header {
    position: relative;
    margin-top: 8px;
    margin-bottom: 0px;
    padding-left: 1.75em;
    height: 2.5em;
}

.social-media-badge .ui-accordion .ui-accordion-header:first-child {
    margin-top: 0px;
}

.social-media-badge .social-accordion .ui-accordion-header span {
    left: 0.75em;
}

.social-media-badge .social-accordion .ui-accordion-header a {
    position: absolute;
    left: 2.75em;
    top: 50%;
    margin-top: -0.6em;
    margin-bottom: 0px;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    font-style: normal;
    line-height: 1em;
    letter-spacing: 0.05em;
}

.social-media-badge .ui-accordion .ui-accordion-header:hover a,
#header .social-media-badge .ui-accordion .ui-accordion-header:hover a,
#sidebar .social-media-badge .ui-accordion .ui-accordion-header:hover a,
#footer .social-media-badge .ui-accordion .ui-accordion-header:hover a,
.social-media-badge .ui-accordion .ui-accordion-header-active a {
    text-decoration: none;
    color: #eee;
}

.social-media-badge .ui-corner-all, 
.social-media-badge .ui-corner-top,
.social-media-badge .ui-corner-bottom,
.social-media-badge.ui-corner-right, 
.social-media-badge.ui-corner-tr {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.social-media-badge .ui-corner-all,
.social-media-badge .ui-corner-top,
.social-media-badge .ui-corner-bottom,
.social-media-badge .ui-corner-left,
.social-media-badge .ui-corner-tl {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*************** 
 *
 *   Accordion Icons 
 *
 ***************/
.social-media-badge .twitter .ui-icon {
    background-image: url(../images/twitter.png) !important;
    background-position: 0;
    background-size: 16px 16px;
}

.social-media-badge .twitter.grey .ui-icon {
    background-image: url(../images/twitter_grey.png) !important;
}

.social-media-badge .ui-state-hover.twitter,
.social-media-badge .ui-state-active.twitter {
    background: #69c0e6 !important;
}

.social-media-badge .facebook .ui-icon {
    background-image: url(../images/facebook.png) !important;
    background-position: 0;
    background-size: 16px 16px;
}

.social-media-badge .facebook.grey .ui-icon {
    background-image: url(../images/facebook_grey.png) !important;
}

.social-media-badge .ui-state-hover.facebook,
.social-media-badge .ui-state-active.facebook {
    background: #005789 !important;
}

.social-media-badge .googleplus .ui-icon {
    background-image: url(../images/googleplus.png) !important;
    background-position: 0;
    background-size: 16px 16px;
}

.social-media-badge .googleplus.grey .ui-icon {
    background-image: url(../images/googleplus_grey.png) !important;
}

.social-media-badge .ui-state-hover.googleplus,
.social-media-badge .ui-state-active.googleplus {
    background: #e04727 !important;
}

.social-media-badge .linkedin .ui-icon {
    background-image: url(../images/linkedin.png) !important;
    background-position: 0;
    background-size: 16px 16px;
}

.social-media-badge .linkedin.grey .ui-icon {
    background-image: url(../images/linkedin_grey.png) !important;
}

.social-media-badge .ui-state-hover.linkedin,
.social-media-badge .ui-state-active.linkedin {
    background: #1683b1 !important;
}

.social-media-badge .youtube .ui-icon {
    background-image: url(../images/youtube.png) !important;
    background-position: 0;
    background-size: 16px 16px;
}

.social-media-badge .youtube.grey .ui-icon {
    background-image: url(../images/youtube_grey.png) !important;
}

.social-media-badge .ui-state-hover.youtube,
.social-media-badge .ui-state-active.youtube {
    background: #fe3031 !important;
}

.social-media-badge .pinterest .ui-icon {
    background-image: url(../images/pinterest.png) !important;
    background-position: 0;
    background-size: 16px 16px;
}

.social-media-badge .pinterest.grey .ui-icon {
    background-image: url(../images/pinterest_grey.png) !important;
}

.social-media-badge .ui-state-hover.pinterest,
.social-media-badge .ui-state-active.pinterst {
    background: #db3037 !important;
}

.social-media-badge .flickr .ui-icon {
    background-image: url(../images/flickr.png) !important;
    background-position: 0;
    background-size: 16px 16px;
}

.social-media-badge .flickr.grey .ui-icon {
    background-image: url(../images/flickr_grey.png) !important;
}

.social-media-badge .ui-state-hover.flickr,
.social-media-badge .ui-state-active.flickr {
    background: #fb4aa6 !important;
}

/*************** 
 *
 *   Accordion Content
 *
 ***************/
.social-media-badge .ui-accordion-content {
    padding: 0 !important;
    position: relative !important;
}

.social-media-badge .ui-accordion-content-active {
    height: auto !important;
}

.social-media-badge .ui-accordion .linkedin-content {
     overflow: visible;
     right: 0;
}

.social-media-badge .ui-accordion .linkedin-content.left {
     direction: rtl;
}

.social-media-badge .ui-accordion .linkedin-content.right {
     direction: ltr;
}

/*************** 
 *
 *   Created By 
 *
 ***************/
.social-media-badge .small {
    position: static;
    font-size: 8px;
    color: darkgray;
    font-weight: lighter;
    text-align: right; 
}

.social-media-badge .small a {
    color: gray;
    font-weight: lighter;
}